<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= roomName %></title>
		<link rel="stylesheet" href="../lib/oojs-ui/oojs-ui-wikimediaui.css">
		<link rel="stylesheet" href="../styles/game.css">
		<link rel="stylesheet" href="../styles/user.css">
		<link rel="stylesheet" href="../styles/card.css">
	</head>
	<body>
		<div id="game"></div>

		<script src="../lib/socket.io-client/socket.io.js"></script>

		<script src="../lib/jquery/jquery.min.js"></script>

		<script src="../lib/oojs/oojs.jquery.min.js"></script>

		<script src="../lib/oojs-ui/oojs-ui-core.js"></script>
		<script src="../lib/oojs-ui/oojs-ui-wikimediaui.js"></script>
		<script src="../lib/oojs-ui/oojs-ui-widgets.js"></script>
		<script src="../lib/oojs-ui/oojs-ui-windows.js"></script>

		<script src="../Cards.js"></script>
		<script src="../model/GameModel.js"></script>
		<script src="../model/CardModel.js"></script>
		<script src="../view/DroppableView.js"></script>
		<script src="../view/GameView.js"></script>
		<script src="../view/UserView.js"></script>
		<script src="../view/PlayedView.js"></script>
		<script src="../view/CardView.js"></script>
		<script src="../view/CardList.js"></script>
		<script src="../data.js"></script>
		<script>
			Cards.roomName = <%- JSON.stringify( roomName ); %>;
		</script>

		<script src="../game.js"></script>
	</body>
</html>
