<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Cards</title>
		<link rel="stylesheet" href="lib/oojs-ui/oojs-ui-wikimediaui.css">
		<link rel="stylesheet" href="styles/index.css">
	</head>
	<body>
		<script src="lib/jquery/jquery.min.js"></script>

		<script src="lib/oojs/oojs.jquery.min.js"></script>

		<script src="lib/oojs-ui/oojs-ui-core.js"></script>
		<script src="lib/oojs-ui/oojs-ui-wikimediaui.js"></script>

		<script src="index.js"></script>
	</body>
</html>
