body {
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
}

.game-columns {
	display: flex;
}

.game-left,
.game-right {
	padding: 1em;
}

.game-left {
	flex-grow: 1;
	padding-right: 0;
}

.game-right-inner {
	position: sticky;
	top: 1em;
}

.game-controls {
	position: sticky;
	top: 0;
	padding: 0.5em 0;
	background: #fff;
	border-bottom: 1px solid #999;
	margin-bottom: -1px;
	z-index: 1;
}

.game-user,
.game-log,
.game-played {
	padding: 1em;
	box-sizing: border-box;
}

.game-user:before,
.game-log:before,
.game-played:before {
	display: block;
	margin-bottom: 1em;
	font-size: 1.2em;
	font-weight: bold;
}

.game-log {
	margin: 1em 0;
	border: 1px solid #999;
	background: #ffe;
	font-size: 0.75em;
	max-height: 30em;
	overflow-y: auto;
}

.game-message {
	margin-bottom: 0.5em;
}

.game-message:first-child {
	font-weight: bold;
}

.game-log:before {
	content: 'Log';
}

.game-played {
	margin: 1em 0;
	border: 1px solid #999;
	background: #efe;
	font-size: 0.75em;
	white-space: nowrap;
	min-width: 33em;
	min-height: 30em;
}

.game-played:before {
	content: 'Recently played actions';
}

.game-played .card-container + .card-container {
	margin-left: -11em;
}
